[submodule "cookbooks/lvm"]
	path = cookbooks/lvm
	url = https://github.com/opscode-cookbooks/lvm.git
[submodule "cookbooks/drbd"]
	path = cookbooks/drbd
	url = https://github.com/opscode-cookbooks/drbd.git
[submodule "cookbooks/samba"]
	path = cookbooks/samba
	url = https://github.com/opscode-cookbooks/samba
[submodule "cookbooks/xfs"]
	path = cookbooks/xfs
	url = https://github.com/opscode-cookbooks/xfs
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = https://github.com/opscode-cookbooks/logrotate
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git
[submodule "cookbooks/runit"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/runit
[submodule "cookbooks/yum"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/yum

